---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?inFormat=kvp&key=<MAPQUEST_KEY>&location=rockford,%20il&outFormat=json&thumbMaps=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Fri, 14 Aug 2020 23:01:22 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":false,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"rockford,
        il"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Rockford","adminArea5Type":"City","adminArea4":"Winnebago
        County","adminArea4Type":"County","adminArea3":"IL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282037677","unknownInput":"","type":"s","latLng":{"lat":42.266802,"lng":-89.088377},"displayLatLng":{"lat":42.266802,"lng":-89.088377}}]}]}'
  recorded_at: Fri, 14 Aug 2020 23:01:22 GMT
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/reverse?key=<MAPQUEST_KEY>&location=42.266802,-89.088377&outFormat=json&thumbMaps=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '0'
      Last-Modified:
      - Fri, 14 Aug 2020 23:01:22 GMT
      Reversegeocodetransactioncount:
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPENWEATHER_KEY>&exclude=minutely&lat=42.266802&lon=-89.088377&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":42.27,"lon":-89.09,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1597446083,"sunrise":1597402999,"sunset":1597453126,"temp":84.38,"feels_like":85.35,"pressure":1015,"humidity":43,"dew_point":59.45,"uvi":7.87,"clouds":20,"visibility":10000,"wind_speed":3.71,"wind_deg":93,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1597446000,"temp":84.38,"feels_like":85.35,"pressure":1015,"humidity":43,"dew_point":59.45,"clouds":20,"visibility":10000,"wind_speed":3.71,"wind_deg":93,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1597449600,"temp":80.58,"feels_like":84.47,"pressure":1015,"humidity":61,"dew_point":65.89,"clouds":10,"visibility":10000,"wind_speed":3.15,"wind_deg":98,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1597453200,"temp":74.52,"feels_like":77.41,"pressure":1013,"humidity":73,"dew_point":65.3,"clouds":4,"visibility":10000,"wind_speed":4.47,"wind_deg":105,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}][...]
