---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?inFormat=kvp&key=<MAPQUEST_KEY>&location=rockford,%20il&outFormat=json&thumbMaps=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 05 Aug 2020 04:42:35 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":false,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"rockford,
        il"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Rockford","adminArea5Type":"City","adminArea4":"Winnebago
        County","adminArea4Type":"County","adminArea3":"IL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282037677","unknownInput":"","type":"s","latLng":{"lat":42.266802,"lng":-89.088377},"displayLatLng":{"lat":42.266802,"lng":-89.088377}}]}]}'
  recorded_at: Wed, 05 Aug 2020 04:42:35 GMT
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/reverse?key=<MAPQUEST_KEY>&location=42.266802,-89.088377&outFormat=json&thumbMaps=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '0'
      Last-Modified:
      - Wed, 05 Aug 2020 04:42:36 GMT
      Reversegeocodetransactioncount:
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPENWEATHER_KEY>&exclude=minutely&lat=42.266802&lon=-89.088377&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":42.27,"lon":-89.09,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1596602556,"sunrise":1596538364,"sunset":1596589922,"temp":54.18,"feels_like":52.48,"pressure":1020,"humidity":82,"dew_point":48.81,"uvi":7.61,"clouds":1,"visibility":10000,"wind_speed":2.57,"wind_deg":56,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1596600000,"temp":54.18,"feels_like":52.48,"pressure":1020,"humidity":82,"dew_point":48.81,"clouds":1,"visibility":10000,"wind_speed":2.57,"wind_deg":56,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1596603600,"temp":53.29,"feels_like":51.42,"pressure":1020,"humidity":83,"dew_point":48.27,"clouds":1,"visibility":10000,"wind_speed":2.66,"wind_deg":89,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1596607200,"temp":52.16,"feels_like":49.93,"pressure":1019,"humidity":84,"dew_point":47.48,"clouds":0,"visibility":10000,"wind_speed":2.93,"wind_deg":145,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}][...]
